.botao {
    border: none;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: 300;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: var(--bg-element-green);
}

.botao:hover {
    background-color: var(--blue-bg);
    box-shadow: inset 0px 0px 0px 3px var(--bg-element-green);
    transform: scale(1.05);
}

.small {
    padding: 5px 10px;
}

.medium {
    padding: 10px 20px;
}

.large {
    font-size: 22px;
}

.button_main {
    border: none;
    border-radius: 20px;
    padding: 15px 63px;
    font-weight: 550;
    font-size: 28px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: var(--bg-element-green);
    color: var(--blue-circle);
}