.header_infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: var(--dark-bg);
    color: var(--text-dark);
}

.div_redes_sociais {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.div_redes_sociais a {
    display: flex;
    justify-content: center;
}

.div_contatos {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.div_contatos div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.div_contatos div p {
    font-size: 14px;
}

.div_contatos div a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.menu p {
    font-size: 16px;
}

.header * {
    text-decoration: none;
    color: var(--text-dark);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--blue-bg);
    color: var(--text-dark);
    border-top: 1px solid var(--bg-element-stroke);
    border-bottom: 1px solid var(--bg-element-stroke);
}

.header div {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.nav_bar {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.header_mobile {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdownToggle {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdownToggle:focus {
    outline: none;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.dropdownItem {
    padding: 10px 20px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #f5f5f5;
}

/* MOBILE */
@media only screen and (max-width: 550px) {

    .header,
    .header_infos {
        display: none;
    }

    .header_mobile * {
        text-decoration: none;
        color: var(--text-dark);
    }

    .header_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        background-color: var(--blue-bg);
        color: var(--text-dark);
        border-top: 1px solid var(--bg-element-stroke);
        border-bottom: 1px solid var(--bg-element-stroke);
    }

    .img_nm_pineapple {
        display: flex;
        align-items: center !important;
    }

    .dropdown {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .dropdownToggle {
        width: auto; 
    }

    .dropdownMenu {
        display: flex;
        justify-content: center;

        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 82px; 
        position: fixed; 
        margin-top: 0;
        border-radius: 0; 
        border: none;

        background-color: var(--blue-bg);
    }

    .dropdownItem {
        padding: 20px 80px;
        text-align: center;

        background-color: var(--extreme-dark-bg);
    }

    .dropdownContaints{
        width: 80%;

        display: flex;
        flex-direction: column;
        gap: 25px;

        margin-top: 150px;
        font-size: 13px;
        color: var(--text-dark);
    }

    .dropdownIcons{
        display: flex;
        justify-content: center;

        gap: 18px;
    }

    .dropdownBtn{
        display: flex;
        justify-content: center;

        margin-top: 20px;
    }

    .dropdownContato{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 40px;
    }

    .dropdownContatoItens{
        display: flex;
        gap: 10px;

        font-size: 16px;
    }

}
