:root {
    /* Cores de elementos */
    --dark-bg: #001E38;
    --blue-bg: #012545;
    --blue-one: #0C243B;
    --blue-circle: #192F45;
    --blue-border: #314559;
    --icon-color-dark: #69D1A2;
    --bg-element-green: #3FC689;
    --bg-element-stroke: #314559;

    /* Cores de texto */
    --text-dark: #F4F4F4;
    --text-blue: #69C5DA;
}