.footer_container {
    background-color: var(--dark-bg);
    color: var(--text-dark);
}

.footer_container * {
    font-size: 14px;
    font-weight: 100;
}

.footer_info {
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--bg-element-stroke);
}

.footer_social_media {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.footer_layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    padding: 10px;
    background-color: #012545;
    border-top: 1px solid var(--bg-element-stroke);
}

.footer_layout Link {
    color: var(--text-dark);
    text-decoration: none;
}

.footer_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding: 20px;
}

.acesso_rapido {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.acesso_rapido .titulo {
    margin-bottom: 20px;
}

.acesso_rapido .titulo * {
    font-weight: 700;
}

.acesso_rapido * {
    color: var(--text-dark);
    text-decoration: none;
}

.footer_frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.footer_frase * {
    color: var(--text-dark);
    text-decoration: none;
}

.footer_frase h1 {
    color: var(--text-blue);
    font-size: 32px;
    font-weight: 700;
}

.footer_frase h1 * {
    font-size: 32px;
    font-weight: 700;
}

.botao {
    border-radius: 50px;
    padding: 8px 20px;
    background-color: var(--bg-element-green);
    font-weight: 300;
    font-size: 22px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.botao:hover {
    background-color: var(--blue-bg);
    box-shadow: inset 0px 0px 0px 3px var(--bg-element-green);
    transform: scale(1.05);
}

.line {
    border-left: 1px white solid;
    height: 200px;
}