

.footer_container {
    background-color: var(--dark-bg);
    color: var(--text-dark);
}

.footer_info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.footer_social_media {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.footer_layout {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #012545;
}

.footer_layout Link {
    color: var(--text-dark);
    text-decoration: none;
}

.footer_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 20px;
}

.acesso_rapido {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acesso_rapido .titulo {
    margin-bottom: 10px;
}

.acesso_rapido * {
    color: var(--text-dark);
    text-decoration: none;
}

.footer_frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer_frase * {
    color: var(--text-dark);
    text-decoration: none;
}

.footer_frase h1{
    color: var(--text-blue);
}

.botao {
    border-radius: 50px;
    padding: 10px 20px;
    background-color: var(--bg-element-green);
    transition: .2s;
}

.botao:hover {
    background-color: var(--blue-bg);
    box-shadow:inset 0px 0px 0px 3px var(--bg-element-green);
}



.line {
    border-left: 1px white solid;
    height: 200px;
}